WebSparkly/WebServiceDemo/ServiceTest/Service References/Tafe/Reverse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Reversed">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReversedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReversedResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReversedSoapIn">
    <wsdl:part name="parameters" element="tns:Reversed" />
  </wsdl:message>
  <wsdl:message name="ReversedSoapOut">
    <wsdl:part name="parameters" element="tns:ReversedResponse" />
  </wsdl:message>
  <wsdl:portType name="ReverseSoap">
    <wsdl:operation name="Reversed">
      <wsdl:input message="tns:ReversedSoapIn" />
      <wsdl:output message="tns:ReversedSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReverseSoap" type="tns:ReverseSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reversed">
      <soap:operation soapAction="http://tempuri.org/Reversed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ReverseSoap12" type="tns:ReverseSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Reversed">
      <soap12:operation soapAction="http://tempuri.org/Reversed" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Reverse">
    <wsdl:port name="ReverseSoap" binding="tns:ReverseSoap">
      <soap:address location="http://localhost:49546/Reverse.asmx" />
    </wsdl:port>
    <wsdl:port name="ReverseSoap12" binding="tns:ReverseSoap12">
      <soap12:address location="http://localhost:49546/Reverse.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>